/* Specific to audible_heavens */

body { 
  padding-top: 70px; 
}

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

/* ---- isotope ---- */

.isotope-stars {
}

/* clear fix */
.isotope-stars:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.isotope-star-item {
  position: relative;
  float: left;
  width: 210px;
  height: 210px;
  margin: 5px;
  padding: 10px;
  /*background: #888;*/
  /*color: #262524;*/
}

.isotope-star-item > * {
  margin: 0;
  padding: 0;
}

.isotope-star-item .name {
  /*position: absolute;*/
  /*left: 10px;*/
  /*top: 5px;*/
  /*font-size: 16px;*/
  /*font-weight: bold;*/
  /*color: white;*/
}

.isotope-star-item .coords {
}

.isotope-star-item .distance {
}

.isotope-star-item .luminosity {
}

.isotope-star-item .color {
}

.isotope-star-item .speed {
}

.isotope-star-item .absmag {
}

.isotope-star-item .appmag {
}


.element-item.alkali          { background: #F00; background: hsl(   0, 100%, 50%); }
.element-item.alkaline-earth  { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.lanthanoid      { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.actinoid        { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.transition      { background: #0F8; background: hsl( 144, 100%, 50%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.metalloid       { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.diatomic        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.halogen         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
