/* Specific to audible_heavens */

body { 
  padding-top: 70px; 
}

body.landing {
  background-image:url(/static/images/heavens_background.jpg);
  background-repeat: no-repeat;
  padding:35px;
  background-origin: content-box;
}

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.clickable {
  cursor: pointer; 
  cursor: hand;
}

h4.name {
  padding: 5px;
}

/* ---- isotope ---- */

.isotope-data {
}

/* clear fix */
.isotope-data:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.isotope-data-item {
  /*background: #ffffff;*/.
  border: 1px solid #999;
  padding: 10px;
  margin: 5px;
  float: left;
  -webkit-border-radius: 5px;
  border-radius: 5px;   
  -webkit-box-shadow: 0px 0px 5px 1px #aaa;
  box-shadow: 0px 0px 5px 1px #aaa;
}

.isotope-data-item > * {
  margin: 0;
  padding: 3px;
}
