/* Specific to audible_heavens */

body { 
  padding-top: 70px; 
}

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.clickable {
  cursor: pointer; 
  cursor: hand;
}

/* ---- isotope ---- */

.isotope-stars {
}

/* clear fix */
.isotope-stars:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.isotope-star-item {
  position: relative;
  float: left;
  width: 210px;
  height: 200px;
  margin: 5px;
  padding: 10px;
}

.isotope-star-item > * {
  margin: 0;
  padding: 0;
}
